/* 

Color Palette: https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

*/

:root {
  --red: #e63946;
  --off-white: #f9f9f9;
  --blue: #457b9d;
  --light-gray: #f5f5f5;
}

body {
  min-height: 100vh;
  background-color: var(--off-white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: var(--red);
}

a:hover,
a:focus {
  color: var(--blue);
  text-decoration: none;
}

#site-logo {
  max-height: 400px;
}

.site-footer {
  padding: 2em;
  background-color: #f5f5f5;
}

.rutgers {
  font-size: medium;
  color: #e63946;
}

.university {
  font-size: medium;
  color: #e63946;
}

.school {
  font-size: small;
  padding-bottom: 2rem;
}

.copyright {
  font-size: small;
  padding-bottom: 1.5rem;
}